.venv/
venv/
__pycache__/
cameratest/yolov8n_openvino_model/metadata.yaml
cameratest/yolov10n_openvino_model/metadata.yaml
cameratest/yolo11n_openvino_model/metadata.yaml
cameratest/yolo12n_openvino_model/metadata.yaml
cameratest/best_openvino_model/metadata.yaml
